<h1>Body Mass Index</h1>

<p>Enter your data:</p>

<form>
<label>Enter height in meters </label>
<input name="height">

<label>Enter weight in lbs</label>
<input name="weight">

<input type="submit">
</form>